<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <p>遍历数组</p>
      <ul>
        <li v-for="(item, index) in arr">{{ item }}</li>
        <li v-for="(item, index) of arr">{{ item + '_' + index }}</li>
        <li v-for="(item, value) in obj">{{ item }}-{{ value }}</li>
        <li v-for="value of obj">{{ value }}</li>
      </ul>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          arr: ["hello", "world"],
          obj: {
            name: "mary",
            age: 20,
          },
        },
      });
    </script>
  </body>
</html>
