<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <h4>{{ message }}</h4>
      <input type="text" v-model="message" />

      <input type="radio" value="boy" v-model="sex">男</input>
      <input type="radio" value="girl" v-model="sex">女</input>
      {{ sex }}
        <div>
            <input type="checkbox" value="boy" v-model="list">男</input>
             <input type="checkbox" value="girl" v-model="list">女</input>
             <input type="checkbox" value="girl2" v-model="list">女2</input>
            {{ list }}
        </div>
    </div>
    <script>
      const app = new Vue({
        el: "#app",
        data: {
          message: "hello",
          sex: 'boy',
          list: []
        },
      });
    </script>
  </body>
</html>

<!-- 
    表单输入双向绑定：输入框输入，另一方展示，实时更新
        v-model='xxx': xxx表示变量名

    修饰符
        v-model.lazy   失去焦点和回车的时候，才更新遍历
        v-model.number 限制输入的只能是数字
        v-model.trim   去掉首尾空格
 -->
